* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(51, 51, 51, 0.5);
}

.cardContainer {
    width: 480px;
    border-radius: 12px;
    background-color: #f4f4f4;
}

section {
    height: 50px;
    display: flex;
    align-items: center;
}

.section1 {
    justify-content: flex-start;
}

.section2 {
    background: #C42C19;
}

.section3 {
    justify-content: center;
    background: #C42C19;
}

.section3 h2 {
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 1.7rem;
}

.section4 {
    justify-content: space-around;
    background: #C42C19;
}

.section5 {
    padding-left: 1rem;
    background: #d37070;
    border-radius: 0 0 12px 12px;
}

.logo {
    width: 50px;
    border-radius: 50%;
}

.hologram {
    width: 50px;
    margin: 2rem;
    border-radius: 6px;
}